/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #667677;
    line-height: 1.9
}
a:hover { text-decoration: none }
.hero-area{
    background-image: url(../img/hero-bg.jpg);
    -webkit-background-size: cover;;
    background-size: cover;
    background-color: #ddd;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-top: 250px;
    padding-bottom: 175px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;

}
.hero-area h2{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 30px;
}
.hero-area:after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    opacity: .9;
    z-index: -1;
    background: #3ad0c0;
    background: -moz-linear-gradient(left, #3ad0c0 0%, #0a742b 100%);
    background: -webkit-linear-gradient(left, #3ad0c0 0%, #0a742b 100%);
    background: linear-gradient(to right, #3ad0c0 0%, #0a742b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ad0c0', endColorstr='#0a742b', GradientType=1);

}
.header_area {
    position: absolute;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    margin-left: 15px;
}

.mainmenu a {
    color: #fff;
    display: block;
    padding: 5px;
    transition: .3s
}
.mainmenu li a:hover{
    opacity: .8;
}
.header_area h1 {
    margin: 0;
}

.mainmenu li.btn {
    background: #10b6a7;
}

.mainmenu {
    margin-top: 7px;
}

a.video_btn {
    color: #fff;
    display: inline-block;
}

.video_btn i.fa{
    display: block;
    color: #000;
    background: #fff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 20px;
    padding-left: 4px;
    margin: 0 auto;
    margin-bottom: 10px;
}
